@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-shadow {
  background: linear-gradient(90deg, rgba(15, 23, 42, 0) 0%, rgba(15, 23, 42, 1) 40%);
}

.top-shadow {
  background: linear-gradient(90deg, rgba(15, 23, 42, 0) 0%, rgba(15, 23, 42, 1) 25%);
}

.right-shadow {
  background: linear-gradient(-90deg, rgba(15, 23, 42, 0) 0%, rgba(15, 23, 42, 1) 40%);
}

.left-shadow {
  background: linear-gradient(-90deg, rgba(15, 23, 42, 0) 0%, rgba(15, 23, 42, 1) 25%);
}

